* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.innerContainer {
    display: flex;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
}

p {
    color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

span {
    color: green;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}